streamlit
pandas
numpy
scikit-learn
scipy
sumy

pyvis
networkx
tqdm
nltk
spacy
#en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
# Optional: If you used Bio.Entrez or bs4 (BeautifulSoup) for the initial data fetch:
# biopython
# beautifulsoup4